porter.yml
# porter.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Creates a Step Function state machine for processing user created content, as
  well as some supporting resources
Parameters:
  OpsWarnMessagesSnsTopicArn:
    Type: String
  OpsErrorMessagesSnsTopicArn:
    Type: String
  TaskDestinationBucketPolicyResources:
    Type: CommaDelimitedList
  TaskDestinationObjectPolicyResources:
    Type: CommaDelimitedList
  StackResourcesBucket:
    Type: String
  AwsXraySdkLambdaLayerVersionArn:
    Type: String
  FfmepgLambdaLayerVersionArn:
    Type: String
  MpckLambdaLayerVersionArn:
    Type: String
  JobExecutionSnsTopicLambdaFunctionS3ObjectVersion:
    Type: String
  NormalizeInputLambdaFunctionS3ObjectVersion:
    Type: String
  SourceTypeLambdaFunctionS3ObjectVersion:
    Type: String
  IngestLambdaFunctionS3ObjectVersion:
    Type: String
  InspectMediaLambdaFunctionS3ObjectVersion:
    Type: String
  CopyLambdaFunctionS3ObjectVersion:
    Type: String
  ImageTransformLambdaFunctionS3ObjectVersion:
    Type: String
  JobCallbackLambdaFunctionS3ObjectVersion:
    Type: String
  TranscodeEcsTaskDefinitionImage:
    Type: String
Resources:
  # SNS
  ## Messages sent to this topic will be handled by a Lambda function which
  ## executes the Step Functions state machine. The `input` to the state machine
  ## execution will be the body of the SNS message. The SNS message must be
  ## valic JSON.
  JobExecutionSnsTopic:
    Type: AWS::SNS::Topic
  JobExecutionSnsTopicLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        - PolicyName: StepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref StateMachine
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  JobExecutionSnsTopicLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/JobExecutionSnsTopicLambdaFunction.zip
        S3ObjectVersion: !Ref JobExecutionSnsTopicLambdaFunctionS3ObjectVersion
      Description: >
        Relays SNS messages sent to a subscribed topic to a State Machine
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref StateMachine
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 128
      Role: !GetAtt JobExecutionSnsTopicLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 8
  JobExecutionSnsTopicLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt JobExecutionSnsTopicLambdaFunction.Arn
      Principal: sns.amazonaws.com
      SourceArn: !Ref JobExecutionSnsTopic
  JobExecutionSnsTopicLambdaSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint: !GetAtt JobExecutionSnsTopicLambdaFunction.Arn
      Protocol: lambda
      TopicArn: !Ref JobExecutionSnsTopic
  # VPC
  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsSupport: true
      EnableDnsHostnames: true
      InstanceTenancy: default
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-VPC
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  RouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-RouteTable
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  S3VpcEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      RouteTableIds:
        - !Ref RouteTable
      ServiceName: !Sub com.amazonaws.${AWS::Region}.s3
      VpcEndpointType: Gateway
      VpcId: !Ref VPC
  AwsServiceInterfaceEndpointsSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: !Ref VPC
      GroupDescription: Allow ECS traffic
      SecurityGroupIngress:
        - CidrIp: 0.0.0.0/0
          IpProtocol: tcp
          FromPort: 443
          ToPort: 443
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-EcsEndpointsSecurityGroup
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  EcrVpcEndpoint:
    # https://docs.aws.amazon.com/AmazonECR/latest/userguide/vpc-endpoints.html#ecr-vpc-endpoint-considerations
    Type: AWS::EC2::VPCEndpoint
    Properties:
      PrivateDnsEnabled: true
      SecurityGroupIds:
        - !Ref AwsServiceInterfaceEndpointsSecurityGroup
      ServiceName: !Sub com.amazonaws.${AWS::Region}.ecr.dkr
      SubnetIds:
        - !Ref Subnet1
        - !Ref Subnet2
      VpcEndpointType: Interface
      VpcId: !Ref VPC
  CloudWatchLogsVpcEndpoint:
    # https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/cloudwatch-logs-and-interface-VPC.html
    Type: AWS::EC2::VPCEndpoint
    Properties:
      PrivateDnsEnabled: true
      SecurityGroupIds:
        - !Ref AwsServiceInterfaceEndpointsSecurityGroup
      ServiceName: !Sub com.amazonaws.${AWS::Region}.logs
      SubnetIds:
        - !Ref Subnet1
        - !Ref Subnet2
      VpcEndpointType: Interface
      VpcId: !Ref VPC
  Subnet1:
    Type: AWS::EC2::Subnet
    Properties:
      AvailabilityZone:
        Fn::Select:
          - 0
          - Fn::GetAZs: !Ref AWS::Region
      CidrBlock: 10.0.0.0/17
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-Subnet-1
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      VpcId: !Ref VPC
  Subnet2:
    Type: AWS::EC2::Subnet
    Properties:
      AvailabilityZone:
        Fn::Select:
          - 1
          - Fn::GetAZs: !Ref AWS::Region
      CidrBlock: 10.0.128.0/17
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-Subnet-2
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      VpcId: !Ref VPC
  Subnet1RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref RouteTable
      SubnetId: !Ref Subnet1
  Subnet2RouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref RouteTable
      SubnetId: !Ref Subnet2
  NetworkAcl:
    Type: AWS::EC2::NetworkAcl
    Properties:
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-NetworkAcl
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      VpcId: !Ref VPC
  InboundTrafficNetworkAclEntry:
    # TODO This is only for debugging
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      CidrBlock: 0.0.0.0/0
      Egress: false
      NetworkAclId: !Ref NetworkAcl
      Protocol: -1 # All
      RuleAction : allow
      RuleNumber : 100
  OutboudTrafficNetworkAclEntry:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      CidrBlock: 0.0.0.0/0
      Egress: true
      NetworkAclId: !Ref NetworkAcl
      Protocol: -1 # All
      RuleAction : allow
      RuleNumber : 100
  Subnet1NetworkAclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      NetworkAclId: !Ref NetworkAcl
      SubnetId: !Ref Subnet1
  Subnet2NetworkAclAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      NetworkAclId: !Ref NetworkAcl
      SubnetId: !Ref Subnet2
  DhcpOptions:
    Type: AWS::EC2::DHCPOptions
    Properties:
      DomainName: ec2.internal
      DomainNameServers:
        - AmazonProvidedDNS
      Tags:
        - Key: Project
          Value: Porter
        - Key: Name
          Value: !Sub ${AWS::StackName}-DhcpOptions
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  DhcpOptionsAssociation:
    Type: AWS::EC2::VPCDHCPOptionsAssociation
    Properties:
      DhcpOptionsId: !Ref DhcpOptions
      VpcId: !Ref VPC
  # ECS Cluster
  EcsCluster:
    Type: AWS::ECS::Cluster
    Properties:
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  # Transcode ECS Service
  TranscodeEcsTaskLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      RetentionInDays: 14
  TranscodeEcsTaskExecutionIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action:
              - sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - ecs-tasks.amazonaws.com
      Description: String
      Path: /
      Policies:
        # https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_execution_IAM_role.html#task-execution-ecr-conditionkeys
        # An alternative to the managed AmazonECSTaskExecutionRolePolicy, which
        # restrics access to a specific VPC and VPC endpoint
        - PolicyName: TaskExecutionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - ecr:GetAuthorizationToken
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource:
                  - "*"
              - Effect: Allow
                Action:
                  - ecr:BatchCheckLayerAvailability
                  - ecr:GetDownloadUrlForLayer
                  - ecr:BatchGetImage
                Condition:
                  StringEquals:
                    aws:sourceVpce: !Ref EcrVpcEndpoint
                    aws:sourceVpc: !Ref VPC
                Resource:
                  - "*"
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  TranscodeEcsTaskIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action:
              - sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - ecs-tasks.amazonaws.com
      Description: String
      Path: /
      Policies:
        # The destination is a set of user-defined bucket
        - PolicyName: S3PutPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              # Bucket-level permissions
              - Action:
                  - s3:ListBucketMultipartUploads
                Effect: Allow
                Resource: !Ref TaskDestinationBucketPolicyResources
              # Object-level permissions
              - Action:
                  - s3:PutObject
                  - s3:AbortMultipartUpload
                  - s3:ListMultipartUploadParts
                Effect: Allow
                Resource: !Ref TaskDestinationObjectPolicyResources
        # Transcode operations are always copying FROM the artifact bucket
        - PolicyName: S3ArtifactBucketPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Action:
                  - s3:GetObject
                Effect: Allow
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}/*
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  TranscodeEcsTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      ContainerDefinitions:
        - Essential: true
          Image: !Ref TranscodeEcsTaskDefinitionImage
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Ref TranscodeEcsTaskLogGroup
              awslogs-region: !Ref AWS::Region
              awslogs-stream-prefix: ecs
          Name: !Sub ${AWS::StackName}-transcode-container
      Cpu: "4096"
      ExecutionRoleArn: !GetAtt TranscodeEcsTaskExecutionIamRole.Arn
      Memory: "8192"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      TaskRoleArn: !GetAtt TranscodeEcsTaskIamRole.Arn
  # Artifact Bucket
  ArtifactBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      LifecycleConfiguration:
        Rules:
          - ExpirationInDays: 1
            Status: Enabled
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  # Normalize Input Lambda
  NormalizeInputLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  NormalizeInputLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/NormalizeInputLambdaFunction.zip
        S3ObjectVersion: !Ref NormalizeInputLambdaFunctionS3ObjectVersion
      Description: >
        Normalizes Porter job input
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 128
      Role: !GetAtt NormalizeInputLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 4
      TracingConfig:
        Mode: Active
  # Ingest Lambda
  IngestLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        # For uploading files and file parts to the artifact store
        - PolicyName: S3ArtifactUploadPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucketMultipartUploads
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:AbortMultipartUpload
                  - s3:ListMultipartUploadParts
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}/*
        # Allow GET-only access to any object in S3
        - PolicyName: S3CopySourcePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject*
                Resource:
                  - "*"
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  IngestLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/IngestLambdaFunction.zip
        S3ObjectVersion: !Ref IngestLambdaFunctionS3ObjectVersion
      Description: >
        Ingests a source file to a predefined S3 artifact bucket
      Environment:
        Variables:
          ARTIFACT_BUCKET_NAME: !Ref ArtifactBucket
          MAX_HTTP_REDIRECTS: "10"
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 512
      Role: !GetAtt IngestLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 90
      TracingConfig:
        Mode: Active
  # Source Type Lambda
  SourceTypeLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        - PolicyName: S3ArtifactBucketPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}/*
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  SourceTypeLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/SourceTypeLambdaFunction.zip
        S3ObjectVersion: !Ref SourceTypeLambdaFunctionS3ObjectVersion
      Description: >
        Detect the file type of the source fiel
      Environment:
        Variables:
          ARTIFACT_BUCKET_NAME: !Ref ArtifactBucket
          MAX_HTTP_REDIRECTS: "10"
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 256
      Role: !GetAtt SourceTypeLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 8
      TracingConfig:
        Mode: Active
  # Inspect Lambda
  InspectMediaLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        - PolicyName: S3ArtifactBucketPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}/*
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  InspectMediaLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/InspectMediaLambdaFunction.zip
        S3ObjectVersion: !Ref InspectMediaLambdaFunctionS3ObjectVersion
      Description: >
        Inspects (ffprobe, etc) the source file
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
        - !Ref FfmepgLambdaLayerVersionArn
        - !Ref MpckLambdaLayerVersionArn
      MemorySize: 512
      Role: !GetAtt InspectMediaLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 16
      TracingConfig:
        Mode: Active
  # Copy Lambda
  CopyLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        # Copy operations are always copying FROM the artifact bucket
        - PolicyName: S3ArtifactBucketReadPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Action:
                  - s3:GetObject*
                Effect: Allow
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}/*
        # The destination is a set of user-defined bucket
        - PolicyName: S3PutPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              # Bucket-level permissions
              - Action:
                  - s3:ListBucketMultipartUploads
                Effect: Allow
                Resource: !Ref TaskDestinationBucketPolicyResources
              # Object-level permissions
              - Action:
                  - s3:PutObject*
                  - s3:AbortMultipartUpload
                  - s3:ListMultipartUploadParts
                Effect: Allow
                Resource: !Ref TaskDestinationObjectPolicyResources
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  CopyLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/CopyLambdaFunction.zip
        S3ObjectVersion: !Ref CopyLambdaFunctionS3ObjectVersion
      Description: >
        Copies an object in S3 to another location in S3
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 512
      Role: !GetAtt CopyLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 32
      TracingConfig:
        Mode: Active
  # Image Manipulation Lambda
  ImageTransformLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        # Image operations are always fetching from the artifact bucket
        - PolicyName: S3ArtifactBucketReadPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Action:
                  - s3:GetObject*
                Effect: Allow
                Resource:
                  - !Sub arn:aws:s3:::${ArtifactBucket}/*
        # The destination is a set of user-defined bucket
        - PolicyName: S3PutPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              # Bucket-level permissions
              - Action:
                  - s3:ListBucketMultipartUploads
                Effect: Allow
                Resource: !Ref TaskDestinationBucketPolicyResources
              # Object-level permissions
              - Action:
                  - s3:PutObject*
                  - s3:AbortMultipartUpload
                  - s3:ListMultipartUploadParts
                Effect: Allow
                Resource: !Ref TaskDestinationObjectPolicyResources
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  ImageTransformLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/ImageTransformLambdaFunction.zip
        S3ObjectVersion: !Ref ImageTransformLambdaFunctionS3ObjectVersion
      Description: >
        Performans image manipulation operations on a source file
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 1024
      Role: !GetAtt ImageTransformLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 16
      TracingConfig:
        Mode: Active
  # Callback Lambda
  JobCallbackLambdaIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action:
                - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        # Must be able to publish to whatever SNS topics are defined by a job
        - PolicyName: SnsPublish
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "sns:Publish"
                Resource:
                  - "*"
        # Must be able to publish to whatever SQS queues are defined by a job
        - PolicyName: SqsSendMessage
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource:
                  - "*"
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  JobCallbackLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref StackResourcesBucket
        S3Key: !Sub ${AWS::StackName}/lambdas/JobCallbackLambdaFunction.zip
        S3ObjectVersion: !Ref JobCallbackLambdaFunctionS3ObjectVersion
      Description: >
        Sends a job or task callback message to a single endpoint
      Environment:
        Variables:
          MAX_HTTP_REDIRECTS: "3"
      Handler: index.handler
      Layers:
        - !Ref AwsXraySdkLambdaLayerVersionArn
      MemorySize: 128
      Role: !GetAtt JobCallbackLambdaIamRole.Arn
      Runtime: nodejs10.x
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
      Timeout: 4
      TracingConfig:
        Mode: Active
  # Step Functions
  StateMachineIamRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Path: /
      Policies:
        - PolicyName: LambdaTaskPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt NormalizeInputLambdaFunction.Arn
                  - !GetAtt IngestLambdaFunction.Arn
                  - !GetAtt SourceTypeLambdaFunction.Arn
                  - !GetAtt CopyLambdaFunction.Arn
                  - !GetAtt InspectMediaLambdaFunction.Arn
                  - !GetAtt JobCallbackLambdaFunction.Arn
        - PolicyName: PassRoleToEcsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !GetAtt TranscodeEcsTaskExecutionIamRole.Arn
                  - !GetAtt TranscodeEcsTaskIamRole.Arn
        # https://docs.aws.amazon.com/step-functions/latest/dg/ecs-iam.html
        - PolicyName: EcsSyncStaticResourcesPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                Resource:
                  - !Ref TranscodeEcsTaskDefinition
              - Effect: Allow
                Action:
                  - ecs:StopTask
                  - ecs:DescribeTasks
                Resource:
                  - "*"
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource:
                  - !Sub arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForECSTaskRule
        # https://docs.aws.amazon.com/step-functions/latest/dg/ecs-iam.html
        - PolicyName: EcsSyncDynamicResourcesPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - ecs:RunTask
                  - ecs:StopTask
                  - ecs:DescribeTasks
                Resource:
                  - "*"
              - Effect: Allow
                Action:
                  - events:PutTargets
                  - events:PutRule
                  - events:DescribeRule
                Resource:
                  - !Sub arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForECSTaskRule
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      DefinitionString:
        Fn::Sub:
          - |-
            {
              "StartAt": "NormalizeInput",
              "States": {
                "NormalizeInput": {
                  "Comment": "(I/O {Job}/{Job}) Normalizes input data",
                  "Type": "Task",
                  "Resource": "${NormalizeInputLambdaFunctionArn}",
                  "Next": "JobReceivedCallbacks",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "IntervalSeconds": 5,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "ResultPath": "$.Error",
                      "Next": "JobErrorCallbacks"
                    }
                  ]
                },
                "JobReceivedCallbacks": {
                  "Type": "Map",
                  "Comment": "(I/O {Job}/{Job}) Sends a job received message to each callback defined in the job via an iterator",
                  "Next": "IngestSourceFile",
                  "InputPath": "$",
                  "ItemsPath": "$.Job.Callbacks",
                  "Parameters": {
                    "Callback.$": "$$.Map.Item.Value",
                    "JobReceived": {
                      "Job": { "Id.$": "$.Job.Id" },
                      "Execution": "$$.Execution.Id"
                    }
                  },
                  "ResultPath": "$.Void",
                  "MaxConcurrency": 0,
                  "Iterator": {
                    "StartAt": "SendReceivedCallback",
                    "States": {
                      "SendReceivedCallback": {
                        "Type": "Task",
                        "Comment": "Sends a job received message for a single callback in the iterator",
                        "Resource": "${JobCallbackLambdaFunctionArn}",
                        "End": true,
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 5,
                            "MaxAttempts": 3,
                            "BackoffRate": 2
                          }
                        ]
                      }
                    }
                  }
                },
                "IngestSourceFile": {
                  "Comment": "(I/O {Job}/{Job,Artifact}) Downloads the given source file to S3",
                  "Type": "Task",
                  "Resource": "${IngestLambdaFunctionArn}",
                  "InputPath": "$",
                  "Parameters": {
                    "Job": { "Source.$": "$.Job.Source" },
                    "Execution": { "Id.$": "$$.Execution.Id" }
                  },
                  "ResultPath": "$.Artifact",
                  "Next": "SourceTypeDetection",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "IntervalSeconds": 5,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "ResultPath": "$.Error",
                      "Next": "JobErrorCallbacks"
                    }
                  ]
                },
                "SourceTypeDetection": {
                  "Comment": "(I/O {Job,Artifact}/{Job,Artifact}) Detects the file type of the source file artifact",
                  "Type": "Task",
                  "Resource": "${SourceTypeLambdaFunctionArn}",
                  "InputPath": "$",
                  "Parameters": {
                    "Artifact.$": "$.Artifact"
                  },
                  "ResultPath": "$.Artifact.Descriptor",
                  "Next": "JobTasks",
                  "Retry": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "IntervalSeconds": 5,
                      "MaxAttempts": 3,
                      "BackoffRate": 2
                    }
                  ],
                  "Catch": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "ResultPath": "$.Error",
                      "Next": "JobErrorCallbacks"
                    }
                  ]
                },
                "JobTasks": {
                  "Type": "Parallel",
                  "Comment": "(I/O {Job,Artifact}/{Job,Artifact,JobTaskResults}) Executes the tasks defined by the input job",
                  "InputPath": "$",
                  "ResultPath": "$.JobTaskResults",
                  "Next": "JobCallbacks",
                  "Catch": [
                    {
                      "ErrorEquals": ["States.ALL"],
                      "ResultPath": "$.Error",
                      "Next": "JobErrorCallbacks"
                    }
                  ],
                  "Branches": [
                    {
                      "StartAt": "InspectBranch",
                      "States": {
                        "InspectBranch": {
                          "Type": "Choice",
                          "Comment": "(I/O {Job,Artifact}/{Job,Artifact}) Determines if the Inspect operation was included in the job",
                          "Choices": [
                            { "Variable": "$.Job.Inspect.Perform", "BooleanEquals": true, "Next": "Inspect" },
                            { "Variable": "$.Job.Inspect.Perform", "BooleanEquals": false, "Next": "SkipInspect"}
                          ]
                        },
                        "SkipInspect": {
                          "Type": "Pass",
                          "Comment": "(I/O {Job,Artifact}/{TaskResult})",
                          "End": true,
                          "ResultPath": "$",
                          "Result": {
                            "TaskResult": {
                              "Task": "Null"
                            }
                          }
                        },
                        "Inspect": {
                          "Type": "Task",
                          "Comment": "(I/O {Job,Artifact}/{Job,Artifact,TaskResult}) Inspects the source file",
                          "Resource": "${InspectMediaLambdaFunctionArn}",
                          "InputPath": "$",
                          "Parameters": {
                            "Job": { "Id.$": "$.Job.Id" },
                            "Artifact.$": "$.Artifact"
                          },
                          "ResultPath": "$.TaskResult",
                          "Next": "InspectCallbacks"
                        },
                        "InspectCallbacks": {
                          "Type": "Map",
                          "Comment": "(I/O {Job,Artifact,TaskResult}/{Job,Artifact,TaskResult,Void}) Sends a successful inspection result to each callback defined in the job via an iterator",
                          "End": true,
                          "InputPath": "$",
                          "ItemsPath": "$.Job.Callbacks",
                          "Parameters": {
                            "Callback.$": "$$.Map.Item.Value",
                            "TaskResult": {
                              "Job": { "Id.$": "$.Job.Id" },
                              "Execution": "$$.Execution.Id",
                              "Result.$": "$.TaskResult"
                            }
                          },
                          "ResultPath": "$.Void",
                          "MaxConcurrency": 0,
                          "Iterator": {
                            "StartAt": "SendInspectCallback",
                            "States": {
                              "SendInspectCallback": {
                                "Type": "Task",
                                "Comment": "(I/O {Callback,TaskResult}/{Callback,TaskResult,Void}) Sends a successful task result for a single callback in the iterator",
                                "Resource": "${JobCallbackLambdaFunctionArn}",
                                "ResultPath": "$.Void",
                                "OutputPath": "$.TaskResult.Job.Id",
                                "End": true,
                                "Retry": [
                                  {
                                    "ErrorEquals": ["States.ALL"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    }, {
                      "StartAt": "CopyBranch",
                      "States": {
                        "CopyBranch": {
                          "Type": "Choice",
                          "Comment": "(I/O {Job,Artifact}/{Job,Artifact}) Determines if the Copy operation was included in the job",
                          "Choices": [
                            { "Variable": "$.Job.Copy.Perform", "BooleanEquals": true, "Next": "CopyAll" },
                            { "Variable": "$.Job.Copy.Perform", "BooleanEquals": false, "Next": "SkipCopy"}
                          ]
                        },
                        "SkipCopy": {
                          "Type": "Pass",
                          "Comment": "(I/O {Job,Artifact}/{TaskResult})",
                          "End": true,
                          "ResultPath": "$",
                          "Result": {
                            "TaskResult": {
                              "Task": "Null"
                            }
                          }
                        },
                        "CopyAll": {
                          "Type": "Map",
                          "Comment": "(I/O {Job,Artifact}/[{Job,Artifact,Copy,TaskResult,Void}])",
                          "End": true,
                          "InputPath": "$",
                          "ItemsPath": "$.Job.Copy.Destinations",
                          "Parameters": {
                            "Copy.$": "$$.Map.Item.Value",
                            "Job": {
                              "Id.$": "$.Job.Id",
                              "Callbacks.$": "$.Job.Callbacks"
                            },
                            "Artifact.$": "$.Artifact"
                          },
                          "MaxConcurrency": 0,
                          "Iterator": {
                            "StartAt": "CopyEach",
                            "States": {
                              "CopyEach": {
                                "Type": "Task",
                                "Comment": "(I/O {Job,Artifact,Copy}/{Job,Artifact,Copy,TaskResult})",
                                "Resource": "${CopyLambdaFunctionArn}",
                                "InputPath": "$",
                                "ResultPath": "$.TaskResult",
                                "Next": "CopyCallbacks",
                                "Retry": [
                                  {
                                    "ErrorEquals": ["States.ALL"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2
                                  }
                                ]
                              },
                              "CopyCallbacks": {
                                "Type": "Map",
                                "Comment": "(I/O {Job,Artifact,Copy,TaskResult}/{Job,Artifact,Copy,TaskResult,Void})",
                                "End": true,
                                "InputPath": "$",
                                "ItemsPath": "$.Job.Callbacks",
                                "Parameters": {
                                  "Callback.$": "$$.Map.Item.Value",
                                  "TaskResult": {
                                    "Job.$": "$.Job",
                                    "Execution": "$$.Execution.Id",
                                    "Result.$": "$.TaskResult"
                                  }
                                },
                                "ResultPath": "$.Void",
                                "MaxConcurrency": 0,
                                "Iterator": {
                                  "StartAt": "SendCopyCallback",
                                  "States": {
                                    "SendCopyCallback": {
                                      "Type": "Task",
                                      "Comment": "(I/O {TaskResult,Callback}/id)",
                                      "Resource": "${JobCallbackLambdaFunctionArn}",
                                      "ResultPath": "$.Void",
                                      "OutputPath": "$.TaskResult.Job.Id",
                                      "End": true,
                                      "Retry": [
                                        {
                                          "ErrorEquals": ["States.ALL"],
                                          "IntervalSeconds": 5,
                                          "MaxAttempts": 3,
                                          "BackoffRate": 2
                                        }
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }, {
                      "StartAt": "ImageBranch",
                      "States": {
                        "ImageBranch": {
                          "Type": "Choice",
                          "Comment": "(I/O {Job,Artifact}/{Job,Artifact}) Determines if the Image operation was included in the job",
                          "Choices": [
                            { "Variable": "$.Job.Image.Perform", "BooleanEquals": true, "Next": "ImageAll" },
                            { "Variable": "$.Job.Image.Perform", "BooleanEquals": false, "Next": "SkipImage"}
                          ]
                        },
                        "SkipImage": {
                          "Type": "Pass",
                          "Comment": "(I/O {Job,Artifact}/{TaskResult})",
                          "End": true,
                          "ResultPath": "$",
                          "Result": {
                            "TaskResult": {
                              "Task": "Null"
                            }
                          }
                        },
                        "ImageAll": {
                          "Type": "Map",
                          "Comment": "(I/O {Job,Artifact}/[{Job,Artifact,Transform,TaskResult,Void}])",
                          "End": true,
                          "InputPath": "$",
                          "ItemsPath": "$.Job.Image.Transforms",
                          "Parameters": {
                            "Transform.$": "$$.Map.Item.Value",
                            "Job": {
                              "Id.$": "$.Job.Id",
                              "Callbacks.$": "$.Job.Callbacks"
                            },
                            "Artifact.$": "$.Artifact"
                          },
                          "MaxConcurrency": 0,
                          "Iterator": {
                            "StartAt": "ImageEach",
                            "States": {
                              "ImageEach": {
                                "Type": "Task",
                                "Comment": "(I/O {Job,Artifact,Copy}/{Job,Artifact,Copy,TaskResult})",
                                "Resource": "${ImageTransformLambdaFunctionArn}",
                                "InputPath": "$",
                                "ResultPath": "$.TaskResult",
                                "Next": "ImageCallbacks",
                                "Retry": [
                                  {
                                    "ErrorEquals": ["States.ALL"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2
                                  }
                                ]
                              },
                              "ImageCallbacks": {
                                "Type": "Map",
                                "Comment": "(I/O {Job,Artifact,Transform,TaskResult}/{Job,Artifact,Transform,TaskResult,Void})",
                                "End": true,
                                "InputPath": "$",
                                "ItemsPath": "$.Job.Callbacks",
                                "Parameters": {
                                  "Callback.$": "$$.Map.Item.Value",
                                  "TaskResult": {
                                    "Job.$": "$.Job",
                                    "Execution": "$$.Execution.Id",
                                    "Result.$": "$.TaskResult"
                                  }
                                },
                                "ResultPath": "$.Void",
                                "MaxConcurrency": 0,
                                "Iterator": {
                                  "StartAt": "SendImageCallback",
                                  "States": {
                                    "SendImageCallback": {
                                      "Type": "Task",
                                      "Comment": "(I/O {TaskResult,Callback}/id)",
                                      "Resource": "${JobCallbackLambdaFunctionArn}",
                                      "ResultPath": "$.Void",
                                      "OutputPath": "$.TaskResult.Job.Id",
                                      "End": true,
                                      "Retry": [
                                        {
                                          "ErrorEquals": ["States.ALL"],
                                          "IntervalSeconds": 5,
                                          "MaxAttempts": 3,
                                          "BackoffRate": 2
                                        }
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }, {
                      "StartAt": "FargateTranscodeBranch",
                      "States": {
                        "FargateTranscodeBranch": {
                          "Type": "Choice",
                          "Comment": "(I/O {Job,Artifact}/{Job,Artifact}) Determines if the Transcode operation was included in the job",
                          "Choices": [
                            { "Variable": "$.Job.Transcode.Perform", "BooleanEquals": true, "Next": "FargateTranscodeAll" },
                            { "Variable": "$.Job.Transcode.Perform", "BooleanEquals": false, "Next": "SkipFargateTranscode"}
                          ]
                        },
                        "SkipFargateTranscode": {
                          "Type": "Pass",
                          "Comment": "(I/O {Job,Artifact}/{TaskResult})",
                          "End": true,
                          "ResultPath": "$",
                          "Result": {
                            "TaskResult": {
                              "Task": "Null"
                            }
                          }
                        },
                        "FargateTranscodeAll": {
                          "Type": "Map",
                          "Comment": "(I/O {Job,Artifact}/[{Job,Artifact,Transcode,TaskResult,Void}])",
                          "End": true,
                          "InputPath": "$",
                          "ItemsPath": "$.Job.Transcode.Encodings",
                          "Parameters": {
                            "Encoding.$": "$$.Map.Item.Value",
                            "Job": {
                              "Id.$": "$.Job.Id",
                              "Callbacks.$": "$.Job.Callbacks"
                            },
                            "Artifact.$": "$.Artifact"
                          },
                          "MaxConcurrency": 0,
                          "Iterator": {
                            "StartAt": "FargateTranscodeEach",
                            "States": {
                              "FargateTranscodeEach": {
                                "Type": "Task",
                                "Comment": "(I/O {Job,Artifact,Transcode}/{Job,Artifact,Transcode,TaskResult})",
                                "Resource": "arn:aws:states:::ecs:runTask.sync",
                                "Parameters": {
                                  "Cluster": "${EcsClusterArn}",
                                  "LaunchType":"FARGATE",
                                  "Overrides": {
                                    "ContainerOverrides": [
                                      {
                                        "Environment": [
                                          {
                                            "Name": "STATE_MACHINE_EXECUTION_ID",
                                            "Value.$": "$$.Execution.Id"
                                          }, {
                                            "Name": "STATE_MACHINE_ARTIFACT_BUCKET_NAME",
                                            "Value.$": "$.Artifact.BucketName"
                                          }, {
                                            "Name": "STATE_MACHINE_ARTIFACT_OBJECT_KEY",
                                            "Value.$": "$.Artifact.ObjectKey"
                                          }, {
                                            "Name": "STATE_MACHINE_DESTINATION_BUCKET_NAME",
                                            "Value.$": "$.Encoding.Destination.BucketName"
                                          }, {
                                            "Name": "STATE_MACHINE_DESTINATION_OBJECT_KEY",
                                            "Value.$": "$.Encoding.Destination.ObjectKey"
                                          }, {
                                            "Name": "STATE_MACHINE_DESTINATION_FORMAT",
                                            "Value.$": "$.Encoding.Format"
                                          }, {
                                            "Name": "STATE_MACHINE_JOB_ID",
                                            "Value.$": "$.Job.Id"
                                          }
                                        ],
                                        "Name": "${TranscodeContainerName}"
                                      }
                                    ]
                                  },
                                  "NetworkConfiguration": {
                                    "AwsvpcConfiguration": {
                                      "AssignPublicIp": "ENABLED",
                                      "Subnets": [
                                        "${VpcSubnet1}",
                                        "${VpcSubnet2}"
                                      ]
                                    }
                                  },
                                  "TaskDefinition": "${TranscodeEcsTaskDefinitionArn}"
                                },
                                "InputPath": "$",
                                "ResultPath": "$.EcsTaskRunDetails",
                                "Next": "FargateTranscodeCallbacks",
                                "Retry": [
                                  {
                                    "ErrorEquals": ["States.ALL"],
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2
                                  }
                                ]
                              },
                              "FargateTranscodeCallbacks": {
                                "Type": "Map",
                                "Comment": "(I/O {Job,Artifact,Transcode,EcsTaskRunDetails}/{Job,Artifact,Transcode,TaskResult,Void})",
                                "End": true,
                                "InputPath": "$",
                                "ItemsPath": "$.Job.Callbacks",
                                "Parameters": {
                                  "Callback.$": "$$.Map.Item.Value",
                                  "TaskResult": {
                                    "Job.$": "$.Job",
                                    "Execution": "$$.Execution.Id",
                                    "Result": {
                                      "Task": "Transcode",
                                      "BucketName.$": "$.Encoding.Destination.BucketName",
                                      "ObjectKey.$": "$.Encoding.Destination.ObjectKey"
                                    }
                                  }
                                },
                                "ResultPath": "$.Void",
                                "MaxConcurrency": 0,
                                "Iterator": {
                                  "StartAt": "SendFargateTranscodeCallback",
                                  "States": {
                                    "SendFargateTranscodeCallback": {
                                      "Type": "Task",
                                      "Comment": "(I/O {TaskResult,Callback}/id)",
                                      "Resource": "${JobCallbackLambdaFunctionArn}",
                                      "ResultPath": "$.Void",
                                      "OutputPath": "$.TaskResult.Job.Id",
                                      "End": true,
                                      "Retry": [
                                        {
                                          "ErrorEquals": ["States.ALL"],
                                          "IntervalSeconds": 5,
                                          "MaxAttempts": 3,
                                          "BackoffRate": 2
                                        }
                                      ]
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "JobCallbacks": {
                  "Type": "Map",
                  "Comment": "Sends a successful job result to each callback defined in the job via an iterator",
                  "End": true,
                  "InputPath": "$",
                  "ItemsPath": "$.Job.Callbacks",
                  "Parameters": {
                    "Callback.$": "$$.Map.Item.Value",
                    "JobResult": {
                      "Job": { "Id.$": "$.Job.Id" },
                      "Execution": "$$.Execution.Id",
                      "Result.$": "$.JobTaskResults..[?(@.Task && @.Task != 'Null')]"
                    }
                  },
                  "MaxConcurrency": 0,
                  "Iterator": {
                    "StartAt": "SendCallback",
                    "States": {
                      "SendCallback": {
                        "Type": "Task",
                        "Comment": "Sends a successful job result for a single callback in the iterator",
                        "Resource": "${JobCallbackLambdaFunctionArn}",
                        "End": true,
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 5,
                            "MaxAttempts": 3,
                            "BackoffRate": 2
                          }
                        ]
                      }
                    }
                  }
                },
                "JobErrorCallbacks": {
                  "Type": "Map",
                  "Comment": "(I/O {Job,Error}/null) Sends an error result to each callback defined in the job via an iterator",
                  "End": true,
                  "InputPath": "$",
                  "ItemsPath": "$.Job.Callbacks",
                  "Parameters": {
                    "Callback.$": "$$.Map.Item.Value",
                    "JobResult": {
                      "Job": { "Id.$": "$.Job.Id" },
                      "Execution": "$$.Execution.Id",
                      "Error.$": "$.Error"
                    }
                  },
                  "MaxConcurrency": 0,
                  "Iterator": {
                    "StartAt": "SendErrorCallback",
                    "States": {
                      "SendErrorCallback": {
                        "Type": "Task",
                        "Comment": "Sends an error result for a single callback in the iterator",
                        "Resource": "${JobCallbackLambdaFunctionArn}",
                        "End": true,
                        "Retry": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "IntervalSeconds": 5,
                            "MaxAttempts": 3,
                            "BackoffRate": 2
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          - NormalizeInputLambdaFunctionArn: !GetAtt NormalizeInputLambdaFunction.Arn
            IngestLambdaFunctionArn: !GetAtt IngestLambdaFunction.Arn
            SourceTypeLambdaFunctionArn: !GetAtt SourceTypeLambdaFunction.Arn
            CopyLambdaFunctionArn: !GetAtt CopyLambdaFunction.Arn
            ImageTransformLambdaFunctionArn: !GetAtt ImageTransformLambdaFunction.Arn
            InspectMediaLambdaFunctionArn: !GetAtt InspectMediaLambdaFunction.Arn
            JobCallbackLambdaFunctionArn: !GetAtt JobCallbackLambdaFunction.Arn
            EcsClusterArn: !GetAtt EcsCluster.Arn
            TranscodeEcsTaskDefinitionArn: !Ref TranscodeEcsTaskDefinition
            VpcSubnet1: !Ref Subnet1
            VpcSubnet2: !Ref Subnet2
            TranscodeContainerName: !Sub ${AWS::StackName}-transcode-container
      RoleArn: !GetAtt StateMachineIamRole.Arn
      Tags:
        - Key: Project
          Value: Porter
        - Key: prx:cloudformation:stack-name
          Value: !Ref AWS::StackName
        - Key: prx:cloudformation:stack-id
          Value: !Ref AWS::StackId
  StateMachineTimedOutAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmName: "[Porter][States] Experiencing time outs"
      AlarmActions:
        - !Ref OpsWarnMessagesSnsTopicArn
      InsufficientDataActions:
        - !Ref OpsWarnMessagesSnsTopicArn
      OKActions:
        - !Ref OpsWarnMessagesSnsTopicArn
      AlarmDescription: >
        Porter state machine has experienced execution time outs
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 1
      MetricName: ExecutionsTimedOut
      Namespace: AWS/States
      Period: 60
      Statistic: Sum
      Threshold: 1
      TreatMissingData: notBreaching
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref StateMachine
  StateMachineThrottleAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmName: "[Porter][States] Events being throttled"
      AlarmActions:
        - !Ref OpsWarnMessagesSnsTopicArn
      InsufficientDataActions:
        - !Ref OpsWarnMessagesSnsTopicArn
      OKActions:
        - !Ref OpsWarnMessagesSnsTopicArn
      AlarmDescription: >
        Porter state machine is being throttled
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 1
      MetricName: ExecutionThrottled
      Namespace: AWS/States
      Period: 60
      Statistic: Sum
      Threshold: 1
      TreatMissingData: notBreaching
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref StateMachine
  StateMachineFailureAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmName: "[Porter][States] Experiencing failures"
      AlarmActions:
        - !Ref OpsErrorMessagesSnsTopicArn
      InsufficientDataActions:
        - !Ref OpsErrorMessagesSnsTopicArn
      OKActions:
        - !Ref OpsErrorMessagesSnsTopicArn
      AlarmDescription: >
        Porter state machine experienced uncaught errors
      ComparisonOperator: GreaterThanOrEqualToThreshold
      EvaluationPeriods: 1
      MetricName: ExecutionsFailed
      Namespace: AWS/States
      Period: 60
      Statistic: Sum
      Threshold: 1
      TreatMissingData: notBreaching
      Dimensions:
        - Name: StateMachineArn
          Value: !Ref StateMachine
Outputs:
  JobExecutionSnsTopicArn:
    Value: !Ref JobExecutionSnsTopic
